# Project 3
- Robert Ramos
- 4/24/2022

## Data Dictionary

title.basics.tsv.gz - Contains the following information for titles:
- tconst (string) - alphanumeric unique identifier of the title
-titleType (string) – the type/format of the title (e.g. movie, short, tvseries, tvepisode, video, etc)
-primaryTitle (string) – the more popular title / the title used by the filmmakers on promotional materials at the point of release
-originalTitle (string) - original title, in the original language
-isAdult (boolean) - 0: non-adult title; 1: adult title
-startYear (YYYY) – represents the release year of a title. In the case of TV Series, it is the series start year
-endYear (YYYY) – TV Series end year. ‘\N’ for all other title types
-runtimeMinutes – primary runtime of the title, in minutes
genres (string array) – includes up to three genres associated with the title

title.ratings.tsv.gz – Contains the IMDb rating and votes information for titles
- tconst (string) - alphanumeric unique identifier of the title
- averageRating – weighted average of all the individual user ratings
- numVotes - number of votes the title has received

title.akas.tsv.gz - Contains the following information for titles:
- titleId (string) - a tconst, an alphanumeric unique identifier of the title
- ordering (integer) – a number to uniquely identify rows for a given titleId
- title (string) – the localized title
- region (string) - the region for this version of the title
- language (string) - the language of the title
- types (array) - Enumerated set of attributes for this alternative title. One or more of the following: "alternative", "dvd", "festival", "tv", "video", "working", "original", "imdbDisplay". New values may be added in the future without warning
- attributes (array) - Additional terms to describe this alternative title, not enumerated
- isOriginalTitle (boolean) – 0: not original title; 1: original title

Import pandas and create db

In [1]:
import pandas as pd
import numpy as np

Load URL's

In [2]:
basics_url = "https://datasets.imdbws.com/title.basics.tsv.gz"
ratings_url = "https://datasets.imdbws.com/title.ratings.tsv.gz"
akas_url = "https://datasets.imdbws.com/title.akas.tsv.gz"

Load TSV's with Pandas

## Basics CSV

In [3]:
basics = pd.read_csv(basics_url,sep='\t', low_memory=False)

In [4]:
basics.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8872261 entries, 0 to 8872260
Data columns (total 9 columns):
 #   Column          Dtype
---  ------          -----
 0   tconst          object
 1   titleType       object
 2   primaryTitle    object
 3   originalTitle   object
 4   isAdult         object
 5   startYear       object
 6   endYear         object
 7   runtimeMinutes  object
 8   genres          object
dtypes: object(9)
memory usage: 609.2+ MB

In [5]:
basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"

Handling \N placeholder

In [6]:
basics.replace({'\\N':np.nan}, inplace=True)

In [7]:
basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,NaN,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,NaN,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,NaN,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,NaN,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,NaN,1,"Comedy,Short"

Eliminate Movies that are null for runtimeMinutes & genres

In [8]:
basics.dropna(subset=['runtimeMinutes','genres'], inplace=True)

In [9]:
basics.isnull().sum()

tconst                  0
titleType               0
primaryTitle            0
originalTitle           0
isAdult                 0
startYear           34150
endYear           2281845
runtimeMinutes          0
genres                  0
dtype: int64

In [10]:
basics['titleType'].value_counts()

tvEpisode       1018921
short            562204
movie            358956
video            171694
tvMovie           87262
tvSeries          84722
tvSpecial         15849
tvMiniSeries      15420
tvShort            9271
videoGame           288
Name: titleType, dtype: int64

Filter Movies for titleTypes = movies

In [11]:
basics = basics.loc[basics['titleType']=='movie']

In [12]:
basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
570,tt0000574,movie,The Story of the Kelly Gang,The Story of the Kelly Gang,0,1906,NaN,70,"Action,Adventure,Biography"
587,tt0000591,movie,The Prodigal Son,L'enfant prodigue,0,1907,NaN,90,Drama
672,tt0000679,movie,The Fairylogue and Radio-Plays,The Fairylogue and Radio-Plays,0,1908,NaN,120,"Adventure,Fantasy"
1172,tt0001184,movie,Don Juan de Serrallonga,Don Juan de Serrallonga,0,1910,NaN,58,"Adventure,Drama"
1273,tt0001285,movie,The Life of Moses,The Life of Moses,0,1909,NaN,50,"Biography,Drama,Family"

keep startYear 2000-2022

In [13]:
basics.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 358956 entries, 570 to 8872211
Data columns (total 9 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   tconst          358956 non-null  object
 1   titleType       358956 non-null  object
 2   primaryTitle    358956 non-null  object
 3   originalTitle   358956 non-null  object
 4   isAdult         358956 non-null  object
 5   startYear       353363 non-null  object
 6   endYear         0 non-null       object
 7   runtimeMinutes  358956 non-null  object
 8   genres          358956 non-null  object
dtypes: object(9)
memory usage: 27.4+ MB

In [14]:
basics.isnull().sum()

tconst                 0
titleType              0
primaryTitle           0
originalTitle          0
isAdult                0
startYear           5593
endYear           358956
runtimeMinutes         0
genres                 0
dtype: int64

In [19]:
basics.dropna(subset=['startYear'], inplace=True)

In [20]:
basics.isnull().sum()

tconst                 0
titleType              0
primaryTitle           0
originalTitle          0
isAdult                0
startYear              0
endYear           353363
runtimeMinutes         0
genres                 0
dtype: int64

In [21]:
basics['startYear'] = basics['startYear'].astype(int)

In [22]:
basics.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 353363 entries, 570 to 8872211
Data columns (total 9 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   tconst          353363 non-null  object
 1   titleType       353363 non-null  object
 2   primaryTitle    353363 non-null  object
 3   originalTitle   353363 non-null  object
 4   isAdult         353363 non-null  object
 5   startYear       353363 non-null  int32
 6   endYear         0 non-null       object
 7   runtimeMinutes  353363 non-null  object
 8   genres          353363 non-null  object
dtypes: int32(1), object(8)
memory usage: 25.6+ MB

In [24]:
basics = basics.loc[(basics['startYear'] >= 2000) & (basics['startYear'] <= 2022)]
basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
34805,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,NaN,118,"Comedy,Fantasy,Romance"
61119,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El Tango del Viudo y Su Espejo Deformante,0,2020,NaN,70,Drama
67672,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018,NaN,122,Drama
77968,tt0079644,movie,November 1828,November 1828,0,2001,NaN,140,"Drama,War"
86806,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005,NaN,100,"Comedy,Horror,Sci-Fi"

Eliminate movies that include  "Documentary" in genre (see tip below)

In [25]:
documentary = basics['genres'].str.contains('documentary',case=False)
basics = basics[~documentary]

In [29]:
basics[basics['genres'] == 'documentary']

Empty DataFrame
Columns: [tconst, titleType, primaryTitle, originalTitle, isAdult, startYear, endYear, runtimeMinutes, genres]
Index: []

## Ratings CSV

In [30]:
ratings = pd.read_csv(ratings_url,sep='\t', low_memory=False)

In [31]:
ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1237911 entries, 0 to 1237910
Data columns (total 3 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   tconst         1237911 non-null  object
 1   averageRating  1237911 non-null  float64
 2   numVotes       1237911 non-null  int64
dtypes: float64(1), int64(1), object(1)
memory usage: 28.3+ MB

In [32]:
ratings.head()

      tconst  averageRating  numVotes
0  tt0000001            5.7      1874
1  tt0000002            5.9       248
2  tt0000003            6.5      1647
3  tt0000004            5.8       160
4  tt0000005            6.2      2475

In [33]:
ratings.replace({'\\N':np.nan}, inplace=True)

## AKAs CSV

In [34]:
akas = pd.read_csv(akas_url,sep='\t', low_memory=False)

In [35]:
akas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31775238 entries, 0 to 31775237
Data columns (total 8 columns):
 #   Column           Dtype
---  ------           -----
 0   titleId          object
 1   ordering         int64
 2   title            object
 3   region           object
 4   language         object
 5   types            object
 6   attributes       object
 7   isOriginalTitle  object
dtypes: int64(1), object(7)
memory usage: 1.9+ GB

In [36]:
akas.head()

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,1,Карменсіта,UA,\N,imdbDisplay,\N,0
1,tt0000001,2,Carmencita,DE,\N,\N,literal title,0
2,tt0000001,3,Carmencita - spanyol tánc,HU,\N,imdbDisplay,\N,0
3,tt0000001,4,Καρμενσίτα,GR,\N,imdbDisplay,\N,0
4,tt0000001,5,Карменсита,RU,\N,imdbDisplay,\N,0

In [37]:
akas.replace({'\\N':np.nan}, inplace=True)

In [38]:
akas.isnull().sum()

titleId                   0
ordering                  0
title                     4
region              1921697
language            6166706
types              26483106
attributes         31536582
isOriginalTitle        2187
dtype: int64

In [39]:
# filter for only US entries
akas = akas.loc[akas['region']=='US']
keepers = basics['tconst'].isin(akas['titleId'])

In [40]:
basics = basics[keepers]
basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
34805,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,NaN,118,"Comedy,Fantasy,Romance"
61119,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El Tango del Viudo y Su Espejo Deformante,0,2020,NaN,70,Drama
67672,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018,NaN,122,Drama
86806,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005,NaN,100,"Comedy,Horror,Sci-Fi"
91077,tt0093119,movie,Grizzly II: Revenge,Grizzly II: The Predator,0,2020,NaN,74,"Horror,Music,Thriller"

In [41]:
basics.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 80743 entries, 34805 to 8872026
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   tconst          80743 non-null  object
 1   titleType       80743 non-null  object
 2   primaryTitle    80743 non-null  object
 3   originalTitle   80743 non-null  object
 4   isAdult         80743 non-null  object
 5   startYear       80743 non-null  int32
 6   endYear         0 non-null      object
 7   runtimeMinutes  80743 non-null  object
 8   genres          80743 non-null  object
dtypes: int32(1), object(8)
memory usage: 5.9+ MB

## Export CSV's

In [42]:
# example making new folder with os
import os
os.makedirs('Data/',exist_ok=True) 
# Confirm folder created
os.listdir("Data/")

[]

In [43]:
# save basics to csv
basics.to_csv("Data/title_basics.csv.gz",compression='gzip',index=False)

In [44]:
# Open saved file and preview again
basics = pd.read_csv("Data/title_basics.csv.gz", low_memory = False)
basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,NaN,118,"Comedy,Fantasy,Romance"
1,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El Tango del Viudo y Su Espejo Deformante,0,2020,NaN,70,Drama
2,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018,NaN,122,Drama
3,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005,NaN,100,"Comedy,Horror,Sci-Fi"
4,tt0093119,movie,Grizzly II: Revenge,Grizzly II: The Predator,0,2020,NaN,74,"Horror,Music,Thriller"

In [45]:
# save ratings to csv
ratings.to_csv("Data/title_ratings.csv.gz",compression='gzip',index=False)

In [46]:
# Open saved file and preview again
ratings = pd.read_csv("Data/title_ratings.csv.gz", low_memory = False)
ratings.head()

      tconst  averageRating  numVotes
0  tt0000001            5.7      1874
1  tt0000002            5.9       248
2  tt0000003            6.5      1647
3  tt0000004            5.8       160
4  tt0000005            6.2      2475

In [47]:
# save akas to csv
akas.to_csv("Data/title_akas.csv.gz",compression='gzip',index=False)

In [48]:
# Open saved file and preview again
akas = pd.read_csv("Data/title_akas.csv.gz", low_memory = False)
akas.head()

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,6,Carmencita,US,NaN,imdbDisplay,NaN,0.0
1,tt0000002,7,The Clown and His Dogs,US,NaN,NaN,literal English title,0.0
2,tt0000005,10,Blacksmith Scene,US,NaN,imdbDisplay,NaN,0.0
3,tt0000005,1,Blacksmithing Scene,US,NaN,alternative,NaN,0.0
4,tt0000005,6,Blacksmith Scene #1,US,NaN,alternative,NaN,0.0